<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="stduent1" class="question2.com.qee.autwireds.xml.model.Student">
        <property name="id" value="5927" />
        <property name="name" value="华安" />
    </bean>

    <bean id="stduent2" class="question2.com.qee.autwireds.xml.model.Student">
        <property name="id" value="10086" />
        <property name="name" value="移动" />
    </bean>


    <bean id="oneClass" class="question2.com.qee.autwireds.xml.model.KClass">
        <property name="id" value="1" />
        <property name="studentList">
            <list>
                <ref bean="stduent1" />
                <ref bean="stduent2" />
            </list>
        </property>
    </bean>
</beans>